body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
}

header{
    background-color: #333;
    color: #a7ff85;
    text-align: center;
    padding: 20px;
}

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
}

ul{
    list-style-type: none;
    margin: 20px 0px 10px 0px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    top: 0;
}

li{
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
li a:hover {
    background-color: #a7ff85;
    color: #333;
  }

.container{
    display: flex;
}

.article{
    padding: 0.5em;
    background-color: #eceaea;
    margin-right: 1em;
}

.article h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sec1{
    padding: 0.5em;
    margin: 10px;
    border: 2px solid #4caf50;
}
.sec1 h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sec1 p{
    text-align: justify;
    text-justify: inter-word;
    text-indent: 20px;
}

.sec2{
    padding: 0.5em;
    margin: 10px;
    border: 2px solid #4caf50;
}

.sec2 h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sec2 p{
    text-align: justify;
    text-justify: inter-word;
    text-indent: 20px;
}

.sec3{
    padding: 0.5em;
    margin: 10px;
    border: 2px solid #4caf50;
}

.sec3 h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sec3 p{
    text-align: justify;
    text-justify: inter-word;
    text-indent: 20px;
}

.aside{
    padding: 0.5em;
    margin-right: 1em;
}

.aside h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.aside p{
    text-align: justify;
    text-justify: inter-word;
    text-indent: 20px;
}

.button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 0.5em;
        transition-duration: 0.4s;
        cursor: pointer;
        border: 2px solid #4CAF50;
}
  
.button:hover {
    background-color: white;
    color: #4caf50;
}

footer{
    background-color: #333;
    color: white;
    padding: 0.5em;
    text-align: center;
}